<!DOCTYPE html>
<html>
  <head>
    <title>Furima42316</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
 
    <script src="https://cdn.jsdelivr.net/npm/@rails/ujs@7.1.3/lib/assets/compiled/rails-ujs.js"></script>
    <script>
      Rails.start();
    </script>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
